<!DOCTYPE html>
<html >
<head>
    <title>Update Book</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
    <h1>Update Book</h1>
    <form method="post" action="/update/<%= books.id %>">
    <label for="title">Title: </label>
    <input type="text" id="title" name="title" value="<%= books.title %>">
    <br>
    <label for="author">Author:</label>
    <input type="text" id="author" name="author" value="<%= books.author %>">
    <br>
    <input type="submit" value="Update">
</form>
<a href="/book/<%= books.id %>">View</a>
<a href="/delete/<%= books.id %>">Delete</a>
<a href="/">Back to List</a>
</body>
</html>